.main-container{
    background-color: azure;
    
}
.content-container{
    background-color: cadetblue;
    width: 50%;
    display: flex;
    border: 1px solid salmon;
    border-radius: 20px;
}
.left-content{
    background-color: blueviolet;
    flex: 15%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.right-content{
    background-color: bisque;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-group{
    padding: 12px;
    
}

input[type = text]{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid blue;
} 

button{
    margin-top: 10px;
    padding: 12px 10px;

}

