@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
  
}

.regDiv{
    background-color: chocolate;
    min-height: 100vh;
    padding-top: 30px;
}
.content{
  padding: 20px;
  background-color: rgb(244, 250, 210);
  max-width: 100%;
  margin: auto;
  border-radius: 30px;
  
}
.content h1{
  color: rgb(37, 37, 73);
  font-weight: bolder;
}

Form .Contro1{
  padding: 10px;
  background-color: rgb(247, 240, 240);
  border: 1px solid #ffffff ;
  margin: 10px;
  
  
}

